<div class="container-fluid">
  <h2>Rooms Admin</h2>

  <a class="btn btn-primary mb-3"
     (click)="createRoom()">
    Add
  </a>

  <div class="row">
    <div class="col-6">
      <table class="table">
        <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let room of rooms$ |async ">
          <td>{{ room.id }}</td>
          <td>{{ room.name }}</td>
          <td>
            <button type="button"
                    class="btn btn-outline-secondary btn-sm"
                    (click)="viewRoom(room.id)">
              View
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="col-6" [ngSwitch]="action$ | async">
      <rbg-room-detail *ngSwitchCase="view"></rbg-room-detail>
      <rbg-room-edit   *ngSwitchCase="edit"></rbg-room-edit>
      <rbg-create-room *ngSwitchCase="create"></rbg-create-room>
    </div>
  </div>
</div>
